
.solo_components_menu{
    position:absolute;
    border: 1px solid #000000;
    right:0;
    top:150px;
    margin-right: -200px;
    background-color: white;
    width: 200px;
    height:300px;
}
.butt_menu_components{
    position:absolute;
    right:0;
    top:150px;
    width: 30px;
    height:300px;
    border-radius: 15px 0px 0px 15px;
    background-color: black;
    color: white;
	cursor: pointer
}
.show{
   writing-mode: tb-rl;
   font-size:20px;
   padding: 5px;
   cursor: pointer
}
.but0,.but1,.but2,.but3 {
	float: left;
	margin:0 5px;
	height: 60px;
	width: 150px;
}


	