{% extends "base.html" %}
{% block js %}
<script type="text/javascript" src = "/static/js/act_graph.js"></script>
<script type="text/javascript" src = "/static/js/graph_moving.js"></script>
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/act_graph.css">
	<link rel="stylesheet" href="/static/css/graph_legend.css">
{% endblock %}
{% block for_graph %}
	<div id="graph">
	</div>
{% endblock %}
{% block content %}
<div id="graph-legend">
    <div class="sphere yellow"></div> <b>Movies</b>
    <div class="sphere green"></div> <b>Actors</b>
</div>
<div style="position:absolute;right:0;top:50;cursor: pointer"><i id="zoom-out-btn" class="material-icons" style="font-size: 80px">zoom_out</i></div>
{% endblock %}