{% extends "base.html" %}
{% block js %}
<script type="text/javascript" src = "/static/js/plot_analys.js"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/plot_analys.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/static/css/load_animation2.css">
{% endblock %}
{% block for_graph %}

{% endblock %}
{% block content %}
<div class="w3-margin-left">
	<label for="plot_directors">Choose director or genre</label>
	<select class = 'w3-margin-left' id="plot_directors">
		{% for dir in dirs %}
		<option value='{{dir}}'>{{dir}}</option>
		{% endfor %}
	</select>
	<button id = 'directors_but_plot' class = 'w3-margin-left w3-button w3-black w3-hover-white w3-round' type="submit">Show</button>
	<select class = 'w3-margin-left' id="plot_genres">
    {% for genre in genres %}
    <option value='{{genre}}'>{{genre}}</option>
    {% endfor %}
	</select>
	<button id = 'genres_but_plot' class = 'w3-margin-left w3-button w3-black w3-hover-white w3-round' type="submit">Show</button>
</div>

<div  class='w3-margin-top'>
	<div>
		<table id="words_for_dir" class="w3-table-all w3-hoverable w3-margin-left">

			<caption>Список любимых слов в сюжетах выбранного режисера</caption>

			<thead>
				<tr class="w3-light-grey">
					<th>Слова</th>
					<th>Кол-во</th>
				</tr>
			</thead>
			<tbody id="tbody_dir_plot">

			</tbody>
		</table>
	</div>
	<div>
		<table id="words_for_genre" class="w3-table-all w3-hoverable w3-margin-left">
			<caption>Список любимых слов в сюжетах фильмов выбранного жанра</caption>
			<thead>
			<th>Слова</th>
			<th>Кол-во</th>
			</thead>
			<tbody id="tbody_genre_plot">

			</tbody>
		</table>
	</div>
	<div>
		<table id="universal_words" class="w3-table-all w3-hoverable w3-margin-left">
			<caption>Список слов, присущих сюжетам каждого жанра</caption>
			<thead>
			<th>Слова</th>
			<th>Кол-во</th>
			</thead>
			<tbody id="tbody_universal_words">
			</tbody>
		</table>
	</div>
	{% for class_name in ['words_for_dir','words_for_genre','universal_words'] %}
	<div id="cube-loader" class={{class_name}}>
		<div class="caption">
			<div class="cube-loader">
				<div class="cube loader-1"></div>
				<div class="cube loader-2"></div>
				<div class="cube loader-4"></div>
				<div class="cube loader-3"></div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}