{% extends "base.html" %}
{% block js %}
<script type="text/javascript" src = "/static/js/plot_analys.js"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/plot_analys.css">
<link rel="stylesheet" href="/static/css/load_animation2.css">
{% endblock %}
{% block for_graph %}

{% endblock %}
{% block content %}
<select id="plot_directors">
    {% for dir in dirs %}
    <option value='{{dir}}'>{{dir}}</option>
    {% endfor %}
</select>
<button id = 'directors_but_plot' type="submit">Бех</button>

<div>
    <table id="words_for_dir">
        <thead>
            <th>Слова</th>
            <th>Кол-во</th>
        </thead>
        <tbody id="tbody_dir_plot">
        </tbody>
    </table>
</div>
<div id="cube-loader" class="words_for_dir">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
</div>

<select id="plot_genres">
    {% for genre in genres %}
    <option value='{{genre}}'>{{genre}}</option>
    {% endfor %}
</select>
<button id = 'genres_but_plot' type="submit">Бех</button>

<div>
    <table id="words_for_genre">
        <thead>
            <th>Слова</th>
            <th>Кол-во</th>
        </thead>
        <tbody id="tbody_genre_plot">
        </tbody>
    </table>
</div>
<div id="cube-loader" class="words_for_genre">
    <div class="caption">
        <div class="cube-loader">
            <div class="cube loader-1"></div>
            <div class="cube loader-2"></div>
            <div class="cube loader-4"></div>
            <div class="cube loader-3"></div>
        </div>
    </div>
</div>

<table id="universal_words">
    <thead>
        <th>Слова</th>
        <th>Кол-во</th>
    </thead>
    <tbody id="tbody_universal_words">

    </tbody>
</table>
<div id="cube-loader" class="universal_words">
    <div class="caption">
        <div class="cube-loader">
            <div class="cube loader-1"></div>
            <div class="cube loader-2"></div>
            <div class="cube loader-4"></div>
            <div class="cube loader-3"></div>
        </div>
    </div>
</div>
{% endblock %}