{% extends "base.html" %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src = "/static/js/stats.js"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/stats.css">
<link rel="stylesheet" href="/static/css/load_animation2.css">
{% endblock %}
{% block for_graph %}

{% endblock %}
{% block content %}

<div >
	<div style="position: absolute; left: 50px;">
		<div style='float:left;'>
			<label for="genres">Choose years (from/to)</label>
			<select id="years_from" style= 'height: 38px;'>
				{% for year in years %}
				<option value={{year}}>{{year}}</option>
				{% endfor %}
			</select>
			<select id="years_to" style= 'height: 38px;'>
				{% for year in years | reverse %}
				<option value={{year+1}}>{{year+1}}</option>
				{% endfor %}
			</select>
		</div>
		<div class='w3-margin-left' style='float:left;'>	
			<button id = 'years_but' class = 'w3-button w3-black w3-hover-white w3-round' type="submit">Show</button>
		</div>
	</div>
	
	<div style="position: absolute; top: 810px; left: 50px;">
		<div style='float:left;'>
			<label for="genres">Choose genre</label>
			<select id="genres"  style= 'height: 38px;'>
				{% for genre in genres %}
				<option value={{genre}}>{{genre}}</option>
				{% endfor %}	
			</select>
		</div>
		<div class='w3-margin-left' style='float:left;'>
			<button id = 'genres_but' class = ' w3-button w3-black w3-hover-white w3-round' type="submit">Show</button>
		</div>
	</div>
    {% for i in range(6)%}
    <canvas id="myChart{{i+1}}" class = 'w3-margin-top'></canvas>
    <div id="cube-loader" class='myChart{{i+1}}'>
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}