{% extends "base.html" %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src = "/static/js/stats.js"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/stats.css">
<link rel="stylesheet" href="/static/css/load_animation2.css">
{% endblock %}
{% block for_graph %}

{% endblock %}
{% block content %}
<div >
    <select id="years_from">
        {% for year in years %}
        <option value={{year}}>{{year}}</option>
        {% endfor %}
    </select>
    <select id="years_to">
        {% for year in years | reverse %}
        <option value={{year+1}}>{{year+1}}</option>
        {% endfor %}
    </select>
    <button id = 'years_but' type="submit">Бах</button>
    <select id="genres">
        {% for genre in genres %}
        <option value={{genre}}>{{genre}}</option>
        {% endfor %}
    </select>
    <button id = 'genres_but' type="submit">Бух</button>

    <div id="cube-loader" class="myChart">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    <canvas id="myChart" style="max-height: 300px !important; max-width: 300px;"></canvas>
    
    <div id="cube-loader" class="myChart2">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    <canvas id="myChart2" style="max-height: 300px !important; max-width: 300px;"></canvas>

    <div id="cube-loader" class="myChart3">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    <canvas id="myChart3" style="max-height: 700px !important; max-width: 700px;"></canvas>

    <div id="cube-loader" class="myChart4">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    <canvas id="myChart4" style="max-height: 300px !important; max-width: 300px;"></canvas>

    <div id="cube-loader" class="myChart5">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    <canvas id="myChart5" style="max-height: 300px !important; max-width: 300px;"></canvas>

    <div id="cube-loader" class="myChart6">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    <canvas id="myChart6" style="max-height: 300px !important; max-width: 300px;"></canvas>
</div>
{% endblock %}